CORS_ORIGIN=http://localhost:3001
BETTER_AUTH_URL=http://localhost:3000/api/auth
BETTER_AUTH_SECRET=secret

# Alchemy
ALCHEMY_SECRET_PASSPHRASE=secret
ALCHEMY_STATE_TOKEN=token
CLOUDFLARE_API_TOKEN=token

# Drizzle Prod
ACCOUNT_ID=account_id
DATABASE_ID=database_id